* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    background-color: whitesmoke;
    color:rgb(45, 45, 48);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Style */
header {
    background-color: rgb(43, 43, 63);
    padding:  10px 36px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    background-position: center;
}

header h1 {
    color:whitesmoke;
    font-size: 40px;
    margin: 0;
}

header a {
    text-decoration: none;
    color:whitesmoke;
}

header nav {
    margin: 2px 0;
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.6vw;
}

/* Hero Style */
.hero {
    background-image: url("/users/alondrareyes/desktop/DEVELOPER/challenges/professional-portfolio/images/wood-leaves-hero-image.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}
.hero img {
    width: 350px;
    height: 250px;
    border: 2px transparent rgb(45, 45, 48);
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(45, 45, 48);
}
.hero h2 {
    text-align: center;
    color: whitesmoke;
}

/* Sections Style */

.sections {
    display: flex;
    justify-content: left;
    text-align: center;
    align-content: stretch;
    align-items: baseline;
}
.section-title {
    font-size: 25px;;
    margin: 0px 30px 70px 300px; 
    text-align: center;
    padding-top: 100px;
}
.section-info {
    flex-wrap: wrap;
    align-content: center;
    border-left: 3px solid rgb(45, 45, 48);
    padding: 30px 80px 30px 30px;
    margin-right: 300px;
}
.main-work-image {
    width: 700px;
    height: 300px;
}
.flex-project {
    display: flex;
    justify-content: space-between;
}
.flex-project img {
    width: 300px;
    height: 200px;
}

/* Media Query for Smaller Descktop Screens*/
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
    header nav ul li a {
      font-size: 20px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .section-title {
      width: 80%;
    }  
  }
  
/* Media Query for Tablet and Smaller */
@media screen and (max-width: 768px) {
    header {
    position: relative;
    }
    .sections {
      padding: 30px 15px;
    }
  }
/* Media Query for Mobile Phone and Smaller */
@media screen and (max-width: 575px) {
    .section-title {
      width: 95%;
    }
  }